<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <logo-nav></logo-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <header-nav></header-nav>
            <profile-nav></profile-nav>
            <!-- partial -->

            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Add Product </h4>
                                <a routerLink="/prducts" id="show" class="btn  btn-maron" style="float: right;    margin-top: -45px;">Back</a>
                                <form class="cmxform" id="signupForm" method="get" action="#" #myForm="ngForm" novalidate>
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="firstname">Category :</label>
                                            <div class="form-group">
                                                <select required class="form-control border-primary" id="exampleSelectPrimary" [(ngModel)]="categoryName" name="categoryName"
                                                    (change)="changeCat($event.target.value)">
                                                    <option value="" disabled selected hidden>Select Category</option>
                                                    <option *ngFor="let cat of category" value="{{cat.name}}">{{cat.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname">Sub Category :</label>
                                            <div class="form-group">
                                                <select class="form-control border-primary" id="exampleSelectPrimary" [(ngModel)]="subCatName" name="subCatName" (change)="changeSubCat($event.target.value)">
                                                    <!-- <option value=" " disabled selected hidden>select Sub category</option> -->
                                                    <option *ngFor="let subCat of subCategoryName" value="{{subCat.sub_cat}}">{{subCat.sub_cat}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname" name="prodName">Product Name :</label>
                                            <input id="category" class="form-control" name="category" type="text" [(ngModel)]="proName" />
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname" name="prodName">Product Image :</label>
                                            <input class="form-control" type='file' (change)="onSelectFile($event)" multiple><br/>
                                            <div *ngIf="!removeImg">
                                                <img *ngFor='let url of urls' [src]="url" height="200" style="margin-right: 2%;border: 1px solid;margin-bottom:5%">
                                                <div *ngFor='let url of productDetails'>
                                                    <img *ngFor="let imgUrl of url.myImages;let i =index" [src]="imgUrl.product_image" height="200" style="margin-right: 2%;border: 1px solid;margin-bottom:5%"
                                                        (click)="updateImage(imgUrl.id)" [ngClass]="{'selected':selectedImage==imgUrl.id}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" *ngIf="Image">
                                            <label (click)="removeImgPopup()"><strong>Remove Product Image Individual</strong></label>
                                        </div>
                                        <br>
                                        <div class="" *ngIf="removeImg">
                                            <img *ngFor='let url of urls' [src]="url" height="200" style="margin-right: 2%;border: 1px solid;margin-bottom:5%">
                                            <div *ngFor='let url of productDetails'>
                                                <img *ngFor="let imgUrl of url.myImages;let i =index" [src]="imgUrl.product_image" height="200" style="margin-right: 2%;border: 1px solid;margin-bottom:5%"
                                                    (click)="DeleteImg(imgUrl.id)" [ngClass]="{'active':deleteImg==imgUrl.id}">
                                            </div>
                                        </div>
                                        <div class="form-group date">
                                            <label>Date: </label>
                                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" required></my-date-picker>
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname">Description :</label>
                                            <br/>
                                            <textarea class="form-control" rows="4" cols="50" style="width: 100%;border: 1px solid;" [(ngModel)]="textarea" name="textarea">
                                        </textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname">Manufacture Name</label>
                                            <input id="category" class="form-control" name="category" type="text" [(ngModel)]="Manufacture" name="Manufacture" />
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname">Size : </label>
                                            <input id="category" class="form-control" name="category" type="text" placeholder="50gm" [(ngModel)]="size" name="size" />
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname">Quantity : </label>
                                            <input id="category" class="form-control" name="category" type="text" placeholder="1" [(ngModel)]="quantity" name="quantity"
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname">Actual Price : </label>
                                            <input id="category" class="form-control" name="category" type="text" [(ngModel)]="mrp" name="mrp" />
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname">Offer Price : </label>
                                            <input id="category" class="form-control" name="category" type="text" [(ngModel)]="offer" name="offer" />
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname">Brand name: </label>
                                            <input id="category" class="form-control" name="category" type="text" [(ngModel)]="brand" name="brand" />
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname">Brand Id : </label>
                                            <input id="category" class="form-control" name="category" type="text" [(ngModel)]="brandid" name="brandid" />
                                        </div>
                                        <!-- <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>                                                   -->
                                        <br/>
                                        <button type="submit" class="btn btn-primary vendor-button" (click)="insertProduct()" *ngIf="addProd">Add
                                            Product
                                        </button>
                                        <button type="submit" class="btn btn-primary vendor-button" (click)="updateProduct()" *ngIf="!addProd">Update
                                            Product
                                        </button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
                        <a routerLink="#">Dhukan </a>. All rights reserved. </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                    </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>