<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <logo-nav></logo-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <header-nav></header-nav>
            <profile-nav></profile-nav>
            <!-- partial -->

            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Add Product </h4>
                                <a routerLink="/prducts" id="show" class="btn  btn-maron" style="float: right;    margin-top: -45px;">Back</a>
                                <form class="cmxform" id="signupForm" method="get" action="#" #myForm="ngForm" novalidate>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="firstname">Category :</label>
                                                <div class="form-group">
                                                    <select required class="form-control border-primary" id="exampleSelectPrimary" [(ngModel)]="categoryName" name="categoryName"
                                                        (change)="changeCat($event.target.value)">
                                                        <option value="" disabled>Select Category</option>
                                                        <option *ngFor="let cat of category" value="{{cat.name}}">{{cat.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="firstname">Sub Category :</label>
                                                <div class="form-group">
                                                    <!-- <select class="form-control border-primary" id="exampleSelectPrimary" [(ngModel)]="subCatName" name="subCatName" (change)="changeSubCat($event.target.value)">
                                                        <option value="" disabled>Select Sub Category</option>
                                                        <option *ngFor="let subCat of subCategoryName" [value]="subCat.sub_cat">{{subCat.sub_cat}}</option>
                                                    </select> -->
                                                    <select class="form-control border-primary" id="exampleSelectPrimary" [(ngModel)]="subcategoryName" name="subcategoryName"
                                                        (change)="changeSub($event.target.value)">
                                                        <option value="" disabled>Select Sub Category</option>
                                                        <option *ngFor="let subCat of subCategoryName" value="{{subCat.sub_cat}}">{{subCat.sub_cat}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="firstname" name="prodName">Product Name :</label>
                                                <input id="category" class="form-control" name="category" type="text" [(ngModel)]="proName" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="firstname">Brand Name</label>
                                                <input id="category" class="form-control" name="category" type="text" [(ngModel)]="Manufacture" name="Manufacture" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group" style="margin-top:20px;margin-bottom:25px;">
                                                <label for="firstname">Add sku:
                                                    <button class="btn btn-primary" (click)=sku()>+</button>
                                                </label>
                                            </div>
                                            <div class="" *ngFor="let skuValues of skusData;let i= index" style="margin-bottom:30px;border: solid 2px #eb9809; padding: 25px">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <input id="category" class="form-control" type="text" placeholder="Size" [(ngModel)]="skuValues.size" [ngModelOptions]="{standalone:true}"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <input id="category" class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                                                                min='0' max='10' type="number" placeholder="Quantity" [(ngModel)]="skuValues.quantity"
                                                                [ngModelOptions]="{standalone:true}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <input id="category" class="form-control" type="text" placeholder="Actual Price" [(ngModel)]="skuValues.mrp" [ngModelOptions]="{standalone:true}"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <input id="category" class="form-control" type="text" placeholder="Discount Price" [(ngModel)]="skuValues.offer" [ngModelOptions]="{standalone:true}"
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">

                                                            <input id="category" class="form-control" type="text" placeholder="Selling Price" [(ngModel)]="skuValues.sellingPrice" [ngModelOptions]="{standalone:true}"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">

                                                            <input id="category" class="form-control" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                                                                type="text" placeholder="Stock" min='0' max='20' type="number"
                                                                [(ngModel)]="skuValues.stock" [ngModelOptions]="{standalone:true}"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3"></div>
                                                    <div class="col-sm-3"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="firstname">Country :</label>
                                                            <div class="form-group">
                                                                <select required class="form-control border-primary" id="exampleSelectPrimary" [(ngModel)]="skuValues.country" name="country"
                                                                    (change)="getStates($event.target.value)">
                                                                    <option value="" disabled selected hidden>Select Country
                                                                    </option>
                                                                    <option *ngFor="let country of countrys" value="{{country}}">{{country}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="firstname">State :</label>
                                                            <div class="form-group">
                                                                <select required class="form-control border-primary" id="exampleSelectPrimary" [(ngModel)]="skuValues.state" name="state"
                                                                    (change)="getCitys($event.target.value)">
                                                                    <option value="" disabled selected hidden>Select state
                                                                    </option>
                                                                    <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="firstname">City :</label>
                                                            <div class="form-group">
                                                                <select required class="form-control border-primary" id="exampleSelectPrimary" [(ngModel)]="skuValues.city" name="city" (change)="getArea($event.target.value)">
                                                                    <option value="" disabled selected hidden>Select City
                                                                    </option>
                                                                    <option *ngFor="let city of citys" value="{{city}}">{{city}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="firstname">Area :</label>
                                                            <div class="form-group">
                                                                <select required class="form-control border-primary" id="exampleSelectPrimary" [(ngModel)]="skuValues.area" name="area" (change)="changeArea($event.target.value)">
                                                                    <option value="" disabled selected hidden>Select Area
                                                                    </option>
                                                                    <option *ngFor="let area of areas" value="{{area}}">{{area}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="firstname" name="prodName">Sku Images :
                                                            </label>
                                                            <input class="form-control" type='file' (change)="onSelectFile($event,i)" multiple><br/>


                                                            <div *ngIf="!removeImg">
                                                                <img *ngFor='let url of skuValues.sku_images' [src]="url.sku_image" height="100" (click)="updateImage(url.id,url.sku_id)"
                                                                    [ngClass]="{'selected':selectedImage==url.id}" width="100"
                                                                    style="margin-right: 2%;border: 1px solid;margin-bottom:5%">

                                                                <div *ngFor='let url of skuValues'>
                                                                    <img *ngFor="let imgUrl of url.sku_images;let i =index" [src]="imgUrl.sku_image" height="100" width="100" style="margin-right: 2%;border: 1px solid;margin-bottom:5%"
                                                                        (click)="updateImage(imgUrl.id)" [ngClass]="{'selected':selectedImage==imgUrl.id}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">

                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Quality Image</label>
                                                            <input class="form-control" type="file" accept="image1/*" (change)="changeListener($event,i)">
                                                            <div *ngIf="image1">
                                                                <img src="{{skuValues.image1}}" alt="" width="100" height="100" style="border: solid 1px;margin-top: 2%;">
                                                            </div>
                                                        </div>
                                                        <!-- <div class="form-group" style="margin-top: 45px;
                                                                                margin-left: 10px;">
                                                                            <mat-slide-toggle>Veg or Non-Veg (optional)</mat-slide-toggle>
                                                                        </div> -->

                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group" style="margin-top: 45px;
                                                            margin-left: 10px;">
                                                            <mat-slide-toggle (change)="foodType($event.checked,i)" [(ngModel)]="type" name="type">Veg
                                                                or Non-Veg (optional)
                                                            </mat-slide-toggle>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group" style="margin-top: 38px;
                                                                        margin-left: 13px;">
                                                            <h6>Select Delivery Options</h6>
                                                            <div class="margin" *ngFor="let item of list">
                                                                <label>
                                                                    <input type="checkbox" name="options" value="{{item}}" [checked]="list.indexOf(item) == 0" [disabled]="list.indexOf(item) == 0"
                                                                        (click)="checkbox($event.target.checked,item.id,item,i)"
                                                                    />                                                                    &nbsp;{{item.title}}
                                                                    {{option}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="firstname">Product Details :</label>
                                                            <br />
                                                            <textarea class="form-control" rows="4" cols="50" style="width: 100%;border: 1px solid;" [(ngModel)]="skuValues.Description"
                                                                [ngModelOptions]="{standalone:true}" name="Description">
                                                                            </textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="firstname">Specifications : </label>
                                                            <br />
                                                            <textarea class="form-control" rows="4" cols="50" style="width: 100%;border: 1px solid;" [(ngModel)]="skuValues.specification"
                                                                [ngModelOptions]="{standalone:true}" name="specification">
                                                                           </textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <label for="firstname">Terms & Conditions</label>
                                                            <br />
                                                            <textarea class="form-control" rows="4" cols="50" style="width: 100%;border: 1px solid;" [(ngModel)]="skuValues.terms" [ngModelOptions]="{standalone:true}"
                                                                name="terms">
                                                                           </textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <h6 for="firstname">FAQs : </h6>
                                                            <label for="firstname">Question</label>
                                                            <textarea class="form-control" rows="4" cols="50" style="width: 100%;border: 1px solid;" [(ngModel)]="skuValues.faq" [ngModelOptions]="{standalone:true}"
                                                                name="faq">
                                                                                                    </textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <h6 for="firstname" style="margin-top:25px"></h6>
                                                            <label for="firstname">Answer</label>
                                                            <textarea class="form-control" rows="4" cols="50" style="width: 100%;border: 1px solid;" [(ngModel)]="skuValues.answer" [ngModelOptions]="{standalone:true}"
                                                                name="answer">
                                                                                            </textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-primary" (click)="deleteSku(i)" style="margin-top: 36%;
                                                            margin-left: 5%;">Delete
                                                                Sku
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary vendor-button" (click)="insertProduct()" *ngIf="addProd">Add
                                        Product
                                    </button>
                                    <button type="submit" class="btn btn-primary vendor-button" (click)="updateProduct()" *ngIf="!addProd">Update
                                        Product
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
                        <a routerLink="#">Dhukan </a>. All rights reserved. </span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                    </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>