.fa-product-hunt,.fa-cog,.fa-bug,.fa-caret-square-o-right,.fa-cart-arrow-down,.fa-file-text,.fa-picture-o{
    padding-right: 20px;
    font-size: 17px;
}
.fa-truck{
    padding-right: 19px;
    font-size: 17px;
}
.profile-image img{
    width: 40px;
    height: 40px;
}
.profile-image h5{
    margin-left: 35px;
    margin-top: 27px;
}
.profile-image h5:hover{
    color: #ffffff;
}
.fa-map-marker{
    font-size: 22px;
    padding-right: 24px;
}


