<div class="nav-side-menu">
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li class="nav-item" [ngClass]="{'active':pageNav==='categorie' || pageNav=== 'addcategorie'}">
                <a class="nav-link" routerLink="/category">
                    <i class="icon-layers menu-icon"></i>
                    <span class="menu-title">Categories </span>
                </a>
            </li>
            <!-- <li data-toggle="collapse" data-target="#products" class="collapsed active">
                    <a><i class="fa fa-gift fa-lg"></i> Anlagenauswahl <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a>RFT-H1</a></li>
                    <li><a>RFT-H2</a></li>
                    <li><a>BTB-H1</a></li>
                    <li><a>BTB-H2</a></li>
                </ul> -->

            <li class="nav-item" [ngClass]="{'active':pageNav==='subcategorie' || pageNav==='addsubcategorie'}">
                <a class="nav-link" routerLink="/subcategory">
                    <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
                    <span class="menu-title sub">Sub Categories </span>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active':pageNav==='vendors' || pageNav==='addvendors'}">
                <a class="nav-link" routerLink="/vendors">
                    <i class="icon-people menu-icon"></i>
                    <span class="menu-title">Admin List</span>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active':pageNav==='offers' || pageNav==='addOffers'}">
                <a class="nav-link" routerLink="/offers">
                    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                    <span class="menu-title sub">Coupon Management</span>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active':pageNav==='products' || pageNav==='addproducts'}">
                <a class="nav-link" routerLink="/prducts">
                    <i class="fa fa-product-hunt" aria-hidden="true"></i>
                    <span class="menu-title sub">Products </span>
                </a>
            </li>
            <!-- <li class="nav-item" [ngClass]="{'active':pageNav==='banner' || pageNav==='addbanner'}">
                <a class="nav-link" routerLink="/banner">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <span class="menu-title sub">Banners</span>
                </a>
            </li> -->
            <li data-toggle="collapse" data-target="#banners" class="collapsed active" [ngClass]="{'active':pageNav==='banner' || pageNav==='addbanner'}"
                style="margin-left:2px;">
                <a class="sub"> <i class="fa fa-picture-o" aria-hidden="true"></i> <span class="sub"></span>Banners
                    <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse keep-inside-clicks-open'" id="banners">
                <li routerLink="/banner" routerLinkActive='active'><a>Main Banners</a></li>
                <li routerLink="/bestDeals" routerLinkActive='active'><a>Best Deals</a></li>
                <li routerLink="/bestAppliances" routerLinkActive='active'><a>Best Appliances</a></li>
                <li routerLink="/bestDiscount" routerLinkActive='active'><a>Best Discount</a></li>
                <li routerLink="/bestBrands" routerLinkActive='active'><a>Best Brands</a></li>
            </ul>
            <li class="nav-item" [ngClass]="{'active':pageNav==='location'}">
                <a class="nav-link" routerLink="/location">
                    <i class="fa fa-map-marker"></i>
                    <span class="menu-title sub">Location Management</span>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active':pageNav==='delivery' || pageNav==='addDelivery'}">
                <a class="nav-link" routerLink="/delivery">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <span class="menu-title sub">Delivery Handling</span>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active':pageNav==='slot' || pageNav==='addslot'}">
                <a class="nav-link" routerLink="/slot">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <span class="menu-title sub">Delivery Slot</span>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active':pageNav==='orders'}">
                <a class="nav-link" routerLink="/orders">
                    <i class="icon-drawer menu-icon"></i>
                    <span class="menu-title">Orders </span>
                </a>
            </li>
            <li data-toggle="collapse" data-target="#products" class="collapsed active" [ngClass]="{'active':pageNav==='content' || pageNav==='addcontent'}">
                <a class="sub"><i class="fa fa-book" aria-hidden="true"></i> <span class="sub"></span>Content Management
                    <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li routerLink="/addcontent" routerLinkActive='active'><a>Terms & Conditions</a></li>
                <li routerLink="/aboutUs" routerLinkActive='active'><a>About Us</a></li>
                <li routerLink="/deliveryInfo" routerLinkActive='active'><a>Delivery Information</a></li>
                <li routerLink="/privacy" routerLinkActive='active'><a>Privacy & Policy</a></li>
                <li routerLink="/returns" routerLinkActive='active'><a>Returns</a></li>
            </ul>
            <li class="nav-item" [ngClass]="{'active':pageNav==='users' || pageNav==='addusers'}">
                <a class="nav-link" routerLink="/users">
                    <i class="icon-people menu-icon"></i>
                    <span class="menu-title">Loyalty Management</span>
                </a>
            </li>

            <!-- <li class="nav-item" [ngClass]="{'active':pageNav==='wholesellers' || pageNav==='addwholesellers'}">
                    <a class="nav-link" routerLink="/wholesellers">
                        <i class="icon-people menu-icon"></i>
                        <span class="menu-title">Wholesellers List </span>
                    </a>
                </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/">
                    <i class="icon-power menu-icon"></i>
                    <span class="menu-title">Logout </span>
                </a>
            </li>
        </ul>
    </div>
</div>