.vendor-button{
    background-color: #0d3d66;
}
.location{
    margin-bottom: 40px;
}
input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 17px;
    border: solid 1px #eaeaea;
    border-radius: 5px;
    width: 30%;
  }
  .fa-search{
    position: absolute;
    top: 14%;
    left: 26%;
  }
  .form-control{
      width: 400px;
  }